@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    WSIZ Rzeszow<br />
    Ul. Sucharskiego 2<br />
    <abbr title="Phone">P:</abbr>
    726.517.899
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sebastianurbanpl@gmail.com">Support@example.com</a><br />
    
</address>